main {
    margin: 3.5em 0;
    display: flex;
    gap: 3.5em;
    flex-direction: column;
}

.greetings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.greetings .text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.greetings h1 {
    font-size: 24px;
    font-weight: 600;
}

.greetings a {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 0.75em 2em;
    border-radius: 50px;
}

.dashboard {
    display: flex;
    gap: 2em;
    width: 100%;
}

.dashboard .side {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 40%;
}

.profile {
    display: flex;
    gap: 2em;
    padding: 2em;
    border-radius: 50px;
    border: 1px solid var(--quaternary-color);
    flex-direction: column;
}

.profile .container {
    display: flex;
    gap: 2em;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.profile .about-wrapper {
    width: 33%;
    display: flex;
    gap: 0.75em;
    flex-direction: column;
    height: 100%;
}

.profile .about-wrapper h4 {
    display: flex;
    font-size: 20px;
    gap: 0.5em;
    align-items: center;
}

.profile .info {
    display: flex;
    gap: 2em;
    width: 100%;
    flex-direction: row;
    margin: 0 0 2em 0;
}

.profile .info .photo {
    width: 20%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-direction: column;
}

.profile .info .photo img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.profile .info .change {
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.profile .change p {
    background-color: #D9D9D9;
    padding: 0.25em 1em;
    border-radius: 20px;
}

.profile .info .name {
    display: flex;
    gap: 0.25em;
    width: 70%;
    font-size: 16px;
    font-weight: 600;
    flex-direction: column;
    font-size: 40px;
    justify-content: center;
}

.profile .name h2 {
    font-weight: 600;
}

.profile .name .rating {
    display: flex;
    gap: 0.5em;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 800;
}

.message {
    display: flex;
    gap: 1em;
    flex-direction: column;
    border: 1px solid var(--quaternary-color);
    padding: 2em;
    border-radius: 50px;
    max-height: 50em;
}

.message .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message .notification p {
    background-color: var(--secondary-color);
    padding: 0.25em 1em;
    border-radius: 20px;
    color: var(--primary-color);
}

.message .card-wrapper {
    display: flex;
    gap: 2em;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.message .card {
    display: flex;
    gap: 2em;
    padding: 2em;
    border-radius: 50px;
    border: 1px solid var(--quaternary-color);
    flex-direction: column;
    max-height: 10em;
}

.message .head-wrapper {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.message .head-wrapper .status p {
    padding: 0.25em 1em;
    background-color: var(--quaternary-color);
    border-radius: 20px;
    color: white;
}

.message .head-wrapper .prof-wrapper {
    width: 80%;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: row;
}

.message .prof-wrapper .photo {
    width: 15%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-direction: column;
}

.message .prof-wrapper .photo img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.message .prof-wrapper .name {
    display: flex;
    gap: 0.25em;
    width: 70%;
    font-size: 16px;
    font-weight: 600;
    flex-direction: column;
}

.message .card .content {
    display: flex;
    gap: 1em;
    flex-direction: column;
    overflow-y: scroll;
    overflow-wrap: break-word;
    text-overflow: clip;
    width: 100%;
    text-wrap: wrap;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.dashboard .main {
    display: flex;
    gap: 2em;
    flex-direction: column;
    width: 60%;
}

.activity {
    display: flex;
    padding: 2em;
    gap: 2em;
    flex-direction: column;
    border-radius: 50px;
    border: 1px solid var(--quaternary-color);
}

.activity .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity .service-list {
    display: flex;
    gap: 2em;
    overflow-x: scroll;
    height: 100%;
    cursor: grab;
}

.activity .activity-card {
    display: flex;
    gap: 1em;
    padding: 2em;
    border-radius: 20px;
    border: 1px solid var(--quaternary-color);
    flex-direction: column;
    min-width: 25em;
    max-width: 25em;
    user-select: none;
}

.activity .activity-card .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.activity .activity-card .info .status p {
    padding: 0.25em 1em;
    background-color: limegreen;
    border-radius: 20px;
    color: white;
}

.activity .prof-wrapper {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.activity .prof-wrapper .photo {
    width: 20%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.activity .prof-wrapper .photo img {
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.activity .prof-wrapper .name {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%;
}

.activity .prof-wrapper .ratings {
    display: flex;
    gap: 0.5em;
}

.no-scrollbar {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;  /* Chrome, Safari, Opera */
    height: 0; /* Chrome, Safari, Opera */
}