.bg {
    background-image: url('/images/register.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5em;
}

nav .logo img {
    width: 12em;
}

nav {
    padding: 1em 0;
    display: flex;
}

main {
    margin: 3.5em 0;
}

.level-wrapper {
    display: flex;
    gap: 5%;
}

.register-wrapper {
    display: flex;
    gap: 10%;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.couch-wrapper {
    margin: 0 -5em 0 0;
}

.content-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.couch-wrapper img {
    width: 100%;
}

.greetings h1 {
    font-weight: 600;
    font-size: 52px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-wrapper input {
    background-color: transparent;
    padding: 1.25em 1em;
    outline: none;
    border: 1px solid var(--quaternary-color);
    border-radius: 20px;
    font-size: 16px;
}

.input-wrapper input:focus {
    border: 1px solid var(--secondary-color);
}

.code-wrapper {
    display: flex;  
    max-width: 100%;
    gap: 0.75em;
    justify-content: center;
    align-items: center;
}

.code-wrapper input {
    font-size: calc(2vw + 2vh);
    display: flex;
    width: 25%;
    aspect-ratio: 1 / 1;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline: none;
    border: 4px solid black;
    font-weight: 600;
    text-align: center;
    caret-color: transparent;
}

.code-wrapper input:focus {
    border: 4px solid var(--secondary-color);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.form-wrapper button {
    padding: 1.25em 1em;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.form-wrapper button:hover {
    background-color: var(--primer-color);
    color: var(--secondary-color);
}

.into-login, .into-verified {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
}

.into-login .btn, .into-verified .btn {
    padding: 1.25em 1em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
}

.into-login .btn:hover, .into-verified .btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.into-login .btn:hover .door, .into-verified .btn:hover .door {
    fill: var(--primary-color);
}

.sudah {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
}

.line {
    width: 30%;
    height: 1px;
    background-color: var(--quaternary-color);
}

.sudah p {
    color: var(--quaternary-color);
    width: max-content;
    text-align: center;
}

.user-email {
    text-decoration: underline;
}

.status-wrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.status {
    width: 8em;
    height: 8px;
    background-color: var(--quaternary-color);
    border-radius: 10px;
}

.on {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .bg {
        padding: 0 2em;
        background-image: url('/images/login.png');
    }

    .register-wrapper {
        flex-direction: column;
        gap: 2em;
        width: 100%;
        align-items: normal;
    }

    .couch-wrapper img {
        display: none;
    }

    .greetings h1 {
        font-size: 36px;
    }

    .register-form {
        width: 100%;
    }

    .input-wrapper input {
        padding: 1em 1em;
    }

    .form-wrapper button {
        padding: 1em 1em;
    }

    .into-login, .into-verified {
        height: 10em;
    }

    .into-login button, .into-verified button {
        padding: 1em 1em;
    }

    .belum {
        gap: 0.5em;
    }

    .line {
        width: 20%;
    }

    .belum p {
        width: 50%;
    }

    .code-wrapper {
        width: 100%;
    }

    .content-wrapper {
        width: 100%;
    }

    .code-wrapper input {
        font-size: 56px;
        width: 20%;
        height: 4rem;
        padding: 0.15em;
    }
}