@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #4C3BCF;
    --tertiary-color: #E5DEFF;
    --quaternary-color: #9A9A9A;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}